@import "tailwindcss";

@theme {
  --color-background: #0d1923;
  --color-dark-blue: #03045e;
  --color-dark-brown: #474306;
  --color-yellow: #f5ee84;
  --color-light-yellow: #f7f197;
  --color-text: #7a8a99;
  --color-description: #ced7df;
  --font-display: "Poppins", sans-serif;
}

.swiper {
  padding: 0 80px !important;
}
@media screen and (max-width: 1024px) {
  .swiper {
    padding: 0 0 60px !important;
  }
}
